<div class="row"> 
	<div class="col-md-12">
		<form name="mainForm" novalidate ng-submit="mainCtrl.connect()">

			<div class="form-group">
				<label for="wsField">WS Connection String</label>
				<input type="text" name="wsField" id="wsField" class="form-control"
					   required placeholder="ws://...." ng-model="mainCtrl.wsUrl">
			</div>

			<div class="form-group">

				<button class="btn btn-warning btn-lg btn-block" type="submit"
						ng-disabled="mainForm.$invalid">
					Connect!
				</button>

			</div>

		</form>
	</div>
</div>